
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-image: url(ibm.png);*/
}


.logocontainer{
    width: 150px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.allmenu{
    list-style: none;
    float: right;
    margin-left: 50px;
}


.eachmenu{
    display: inline;
    color: red;
    font-size: 130%;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-left: 100px;
     cursor: pointer;
}
.eachmenu:hover{
    color: blue;
    border-bottom: 1px solid rgb(60, 32, 218);
    transition: all 0.2s ease-in;
    padding-bottom: 6px;
}
header{
    background-image:/*linear-gradient(to right rgba(255,255,255,1),
                                                rgba(255,255,255,0)) */url(background.png);
    width: 100%;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;

}
.mainmessage{
    top: 25%;
    position: left;
    width: 200px;
    margin-left: 40%;
    font-size: 200%;
    
}
.mainmessage1{
    margin-top:10%;
    position: center;
    width: 200px;
    margin-left: 50%;
    font-size: 200%;
}
.mainmessage2{
    top: 50%;
    position: relative;
    width: 200px;
    margin-left: 55%;
    font-size: 200%;
}
.buttonContainer{
    margin-top: 100px;
    font-size: 30px;
    position: center;
    
}
.button{
    text-decoration: none;
    margin-right: 30px;
    padding-left: 2px;
    padding-right: 2px;
    background-color:rgb(209, 238, 130);
}
.button:hover{
    color: brown;
    border-radius: 20px;
    padding: 10px;
    border-bottom: 1px solid blue;
    font-size: 30px;
}